@font-face {
    font-family: 'HarmattanRegular';
    src: url('fonts/Harmattan-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'RobotoRegular';
}

header {
    width: 100%;
    background-color: #2F52E0;
    margin: 0;
    position: relative;
    top: -15px;
}

header nav {
    padding: 0;
    margin-top: 5px;
}

header nav button:first-child {
    margin-left: 20px;
}

header nav button {
    position: relative;
    margin: 0;
    padding: 15px;
    font-size: 18px;
    font-family: 'RobotoRegular';
    background: transparent;
    border: none;
    cursor: pointer;
    color: #FFF;
}

header nav button:hover {
    background-color: #FF715B;
}

h1 {
    text-align: center;
}

main {
    width: 100%;
    margin: 0;
    padding: 10px;
}

#collections {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    margin: 0 auto;
}

.names {
    float: left;
    border: 2px double #2F52E0;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #FF715B;
    text-align: center;
    font-family: 'RobotoRegular';
    cursor: pointer;
    margin: 5px;
}

.names p {
    height: 5vh;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    height: 250px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.popup-content {
    text-align: center;
    text-wrap: wrap;
    padding: 0;
}

.popup-content #popupTitle {
    position: relative;
    top: -12px;
}

.popup-content #popupTxt {
    position: relative;
    top: -15px;
}